<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_eMz-C4O95dBcRQvwqSXtc4rDM6gSEWE</string>
	<key>GCM_SENDER_ID</key>
	<string>463104400333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gorinsystems.testproject.gorinTestProject</string>
	<key>PROJECT_ID</key>
	<string>gorin-flutter-test</string>
	<key>STORAGE_BUCKET</key>
	<string>gorin-flutter-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463104400333:ios:56be7408711c1ecbdfc284</string>
</dict>
</plist>